

<html>
    <head>
    <title>Libsuite-WebOPAC-Renew Documents</title>
    </head>
    <body bgcolor="#E8E8E8" topmargin="0" leftmargin="0" rightmargin="0" bottommargin="0">
    
    
    <form name="form1" action="/renew_success" method="post" onsubmit="return isValid();">
    <table width='100%' cellspacing='0' cellpadding='0' border='0'><td bgcolor='#6091A6'><img SRC='images/s_logo.jpg'></td></table><table BORDER=0 CELLSPACING=0 CELLPADDING=0 WIDTH='100%' HEIGHT=15><tr><td><center><font FACE='Arial,Helvetica' SIZE=-2><a HREF='opac_s.asp'>Home</a>| <a HREF='newarr.asp?m_module=N'>New Arrivals</a>| <a HREF='cas.asp'>C.A.S.</a>| <a HREF='sdi.asp'>S.D.I.</a>| <a HREF='joulis.asp?m_schar=A&m_subject=0'>Journal List</a>| <a HREF='latiss.asp?m_days=30'>Latest Issues</a>| <a HREF='l_renew.asp'>Outstanding Documents</a></font></center></td></tr></table><table><td></td></table>
            <font face="Arial" size="2" color="darkblue"><b><center>Outstanding Documents</center></b></font>
            <font face="Arial">
            <table bgcolor="white" border="1" bordercolor="black" cellspacing="1" cellpadding="0" width="98%" align="center">
            <th width="10%" bgcolor="#6091A6" align="left" valign="top"><font face="Arial" size=2 color="white">Acc.No.</font></th>
            <th width="40" bgcolor="#6091A6" align="left"><font face="Arial" size=2 color="white">Title</font></th>
            <th width="10%" bgcolor="#6091A6" align="left"><font face="Arial" size=2 color="white">Due On</font></th>
            <th width="10%" bgcolor="#6091A6" align="left"><font face="Arial" size=2 color="white">Fine_Amount</font></th>
            <th width="10%" bgcolor="#6091A6" align="left"><font face="Arial" size=2 color="white">Renew_Count</font></th>
            <th width="15%" bgcolor="#6091A6" align="left"><font face="Arial" size=2 color="white">Reservations</font></th>
            <th width="05%" bgcolor="#6091A6" align="left"><font face="Arial" size=2 color="white">Renew</font></th>
        
                {%for book in books %}
                    <tr>
                    <td valign="top"><font face="" color="black" size=2>{{book.acc_no}}</font></td>
                    <td valign="top"><font face="" color="black" size=2>
                        {{book.title}}</font></td>
                    <td valign="top"><font face="" color="black" size=2>{{book.due}}</font></td>
                    <td valign="top"><font face="" color="black" size=2>{{book.fine}}</font></td>

                    {% if book.renew == Book.CAN_RENEW %}
                        {# acc_no input tag#}
                        <input  type="hidden" 
                                name="{{book.extras['acc_no'][0]}}" 
                                value="{{book.extras['acc_no'][1]}}">
                        {# m_media input tag#}
                        <input  type="hidden" 
                                name="{{book.extras['m_media'][0]}}" 
                                value="{{book.extras['m_media'][1]}}">
                    {% endif %}

                    <td valign="top"><font face="" color="black" size=2>{{book.renewCount}}</font></td>
                    <td valign="top"><font face="" color="black" size=2>{{book.reserve}}</font></td>

                    {% if book.renew == Book.CAN_RENEW %}
                    <td valign="top"><input checked 
                                            type="checkbox" 
                                            name="{{'m_chk' ~ book.extras['i_num']}}"
                                            {# https://stackoverflow.com/questions/9856576/casting-ints-to-str-in-jinja2 #}
                                            {# use ~ as jinja alternative to str() #}
                                            value="1">
                    {% else %}
                    <td valign="top">&nbsp;</td>
                    {% endif %}
                    </tr>
                {% endfor %}

                
        <input type="hidden" value="{{m_count}}" name="m_count">
        {# pass m_count ie no of reissable books from the calling function #}

        <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td><b><font face="Arial" color="blue" size="2">0.00</font></b></td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        </table>
    <br><br>
    
    {% if m_count > 0 %}
        {# Create this tag only if m_count is greater than zero #}
        <center><input type="Submit" name="Submit" value="Submit"></center><BR>
    {% endif %}
    <table BORDER=0 CELLSPACING=0 CELLPADDING=0 WIDTH='100%' HEIGHT=15><tr><td><center><font FACE='Arial,Helvetica' SIZE=-2><a HREF='opac_s.asp'>Home</a>| <a HREF='newarr.asp?m_module=N'>New Arrivals</a>| <a HREF='cas.asp'>C.A.S.</a>| <a HREF='sdi.asp'>S.D.I.</a>| <a HREF='joulis.asp?m_schar=A&m_subject=0'>Journal List</a>| <a HREF='latiss.asp?m_days=30'>Latest Issues</a>| <a HREF='l_renew.asp'>Outstanding Documents</a></font></center></td></tr></table><table><td></td></table><center><hr><font FACE=Arial COLOR='BLACK' SIZE='-2'><a target='_NEW' href='http:\\libsuite.com'>WebOPAC</a> (c) 2000 <a target='_NEW' href='http://softaid-india.com'>Soft-AID Computers Pvt. Ltd India.</a> </font></center>
    
    
    <script language="JavaScript">
        function isValid()
        {
            for(i=1;i<=document.form1.m_count.value;i++)
            {
                m_doc="m_chk" + i;
                m_str="document.form1." + m_doc + ".checked";
                m_val=eval(m_str);
                if (m_val==false)
                {
                    m_flag=false;
                }
                else
                {
                    m_flag=true;
                    break;
                }
            }
            if (m_flag==false)
            {
                alert("Select a Checkbox.");
                document.form1.m_chk1.focus();
                return false;
            }
            else
            {
                return true;
            }
        }
    
        function helpWin()
        {
    
            w = window.open("help.htm#Outstanding Documents","answerWindow","scrollbars =1")	
                
        } 
    
    </script>
    
    </body>
    </html>
    